.scan-list {
    font-size: calc(10px + 1vmin);
}

.scan-list-view > tr > td {
    font-size: 1.05rem;
}

.add-scan {
    padding: 20px;
    text-align: right;
}

.edit-scan-button {
    margin: 10px !important;
}